/* цвет основного текста #757575  */
/* цвет вторичного текста (заголовки) #212121 */
/* цвет hero, подписи картинок "чем мы занимаемся" #FFFFFF */

/* хедер цвет: 
1) WebStudio #2196F3; 
2) Nav #212121, при наведении #2196F3; 
3) mail, tel #757575, при наведении #2196F3 */

/* футер цвет:
1) WebStudio #2196F3; 
2) основной цвет #FFFFFF;
3) mail, tel rgba(255, 255, 255, 0.6);
4) 2020 rgba(255, 255, 255, 0.4) */

/* цвет фона секций:
1) хедер #FFFFFF;
2) hero rgba(47, 48, 58, 0.8);
3) преимущества, чем мы занимаемся, клиенты #E5E5E5;
4) сотрудники #F5F4FA;
5) футер #2F303A */

/* цвет фона элементов:
1) заказать услугу background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
2) преимущества #F5F4FA;
3) чем мы занимаемся: картинки или ссылки на источник,
текст rgba(47, 48, 58, 0.8)
4) сотрудники: картинки или ссылки на источник,
текст #FFFFFF, 
лого #FFFFFF, активные #2196F3;
5) футер лого rgba(255, 255, 255, 0.1),
активные #2196F3 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-wight: 100%;
  height: auto;
}

:root {
  /* цвета текта */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-end-color: rgba(255, 255, 255, 0.4);
  /* цвета фонов секций и элементов */
  --background-services-color: rgba(47, 48, 58, 0.8);
  --background-elements-color: #f5f4fa;
  --background-hero-color: rgba(47, 48, 58, 0.8);
  --background-sections-color: #e5e5e5; /* преимущества, чем мы занимаемся, клиенты */
  --background-team-color: #f5f4fa; /* сотрудники */
  --background-footer-color: #2f303a;
  --background-footer-logo-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
}

/* Nav */
.site-nav .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contacts-nav .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
/* ДОБАВИТЬ ПОДСВЕТКУ СТРАНИЦЫ, НА КОТОРОЙ НАХОДИМСЯ!!!! */
.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--background-hero-color);
}
.hero-title {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

/* Секции */
/* .section {
  background-color: var(--background-sections-color);
} ВОПРОС: В макете указан этот цвет фона, но визуально он совсем не подходит*/
.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

/* Преимущества */
.advantage {
  /* что-то будет тут */
}
.advantage-item {
  /* что-то будет тут */
}
.advantage-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.advantage-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Услуги */
.services {
  /* здесь что-то будет */
}
.services-title {
  text-decoration: none;
  background-color: var(--background-services-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

/* Сотрудники */
.section.team {
  background-color: var(--background-elements-color);
}
.team-list {
  /* здесь что-то будет */
}
.team-list-item {
  /* здесь что-то будет */
}
.team-list-title {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.profession {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.network {
  background-color: var(--primary-white-color);

  /* здесь что-то будет */
}
.network-title {
  /* здесь что-то будет */
}
.network-link {
  /* здесь что-то будет */
}

/* Клиенты */
.customers {
  /* здесь что-то будет */
}
.customer-logo {
  /* здесь что-то будет */
}
.customer-logo:hover,
.customer-logo:focus {
  color: var(--accent-color);
}

/* Футер */
.footer {
  background-color: var(--background-footer-color);
}
.address {
  /* здесь что-то будет */
}
.footer-address {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer-contact {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.join {
  /* здесь что-то будет */
}
.join-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.network-title-footer {
  color: var(--primary-white-color);
  background-color: var(--background-footer-logo-color);
}
.network-title-footer:hover,
.network-title-footer:focus {
  color: var(--accent-color);
}
.subscribe {
  /* здесь что-то будет */
}
.subscribe-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
